<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            Registration
        </p>
    </header>
    <div class="card-content">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" value={{name}} type="text" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Surname</label>
            <div class="control">
                <input class="input" value={{surName}} type="text" placeholder="Surname">
            </div>
        </div>
        <div class="field">
            <label class="label">Lastname</label>
            <div class="control">
                <input class="input" value={{lastName}} type="text" placeholder="Lastname">
            </div>
        </div>
        
        <div class="field is-grouped">
           <div>
                <div class="field">
                      <label class="label">Gender</label>
                      <div class="control">
                            <div class="select">
                                  <select value={{gender}}>
                                        <option>Male</option>
                                        <option>Female</option>
                                  </select>
                            </div>
                      </div>
                </div>
            </div>
            
           <div class="margin-left">
               <label class="label">Date</label>
                <div class="control">
                    <input class="input" value={{date}} type="date" placeholder="">
                </div>
           </div>
        </div>
        
        <div class="field">
            
        </div>

       <div class="field">
            <label class="label">E-mail </label>
            <div class="control">
                <input class="input" value={{email}} onchange={{emailChecker}} type="email" placeholder="E-mail adress">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" value={{password}} type="password" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <label class="label">Password confirmation</label>
            <div class="control">
                <input class="input" value={{confPassword}} onclick={{passChecker}} type="password" placeholder="Password confirmation">
            </div>
        </div>
        
        <div class="field is-grouped dig-align-center">
            <div class="control">
                <button class="button is-medium ">Create account</button>
            </div>
        </div>
    </div>
</div>
